/* commons */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

[fix=true]::after {
    display: table;
    clear: both;
    content: "";
}

[up=first]::first-letter {
    text-transform: uppercase;
}

[up=all] {
    text-transform: uppercase;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* white buttons settings */

.white-bts > a{
    color: black;
    background-color: white;
}

.white-bts > a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: blue;
    transition: .3s;
}

/* header */

header {
    position: relative;
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

/* upper header */

header > div nav,
header > .upper-header > div {
    float: left;
}

header > .upper-header > div {
    width: 10%;
}

header > div nav {
    width: 80%;
}
header > .upper-header {
    line-height: 35px;
    margin: auto;
    width: 90vw;
    max-width: 1800px; /* copiato dal sito originale di discord */
}

header > .upper-header {
    padding-top: 20px;
}

.upper-header a {
    vertical-align: middle;
    text-decoration: none;
}

/* logo */

.upper-header > a:first-child img {
    display: inline-block;
}

/* navigation bar */

nav > ul {
    list-style: none;
    text-align: center;
}

nav ul > li {
    display: inline-block;
    padding: 0 20px;
}

li > a {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

li > a:hover {
    border-bottom: 1px solid white;
}

nav li::first-letter {
    text-transform: uppercase;
}

/* login button */

.upper-header div:last-of-type > a {
    padding: 10px 20px;
    border-radius: 2em;
    font-weight: 500;
}


/* jumbo section */

.jumbo-text {
    text-align: center;
    /* background-color: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
}

.jumbo-text h1 {
    margin: 40px 0;
    font-size: 50px;
}

.jumbo-text p {
    line-height: 30px;
    font-weight: bold;
    max-width: 80ch;
}

/* jumbo buttons */


.jumbo-text > .white-bts,
.jumbo-text > button {
    display: inline-block;
    margin-top: 50px;
    border: none;
}

.jumbo-text a,
.jumbo-text > button {
    padding: 18px 20px;
    border-radius: 2em;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.fas.fa-download{
    margin-right: 10px;
}

.jumbo-text > button {
    color: white;
    background-color: black;
}

.jumbo-text > button:hover{
    transition: .3s;
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* main */

#container {
    width: 75%;
    margin: 100px auto;
}

#container > section:nth-child(n+2){
    margin: 300px 0;
}

/* main sections commons */

section > div:last-child {
    text-align: left;
    display: inline-block;
    width: 20%;
    margin-top: 40px;
}

section h2::first-letter,
section p::first-letter {
    text-transform: uppercase;
}

section h2{
    font-size: 35px;
    font-weight: 900;
    line-height: 50px;
}

#container > section p{
    font-weight: 500;
    line-height: 25px;
    padding-top: 20px;
}

/* group chat section */

#container > section:first-of-type > div:last-child,
#container > section:nth-child(3) > div:last-child {
    margin-left: 10%;
}

/* vocal chat section */

#container > section:nth-child(2) > div:last-child {
    margin-left: 60px;
}

/* footer */

/* debug */

/*
header.debug{
    background-color: aqua;
    height: 50vh;
}

header.debug > div:first-child{
    width: 90%;
    background-color: black;
    height: 10vh;
    margin: auto;
    max-width: 1260px;

.debug div > a {
    background-color:  yellowgreen;
}

.debug div > nav {
    background-color: violet;
}

.debug.jumbo-text {
    text-align: center;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
*/

.debug{
    /* background-color: green; */
    height: 500px;
}